.collapse_title {
      display: flex;
      position: inherit;
      width: 100%;
      height: 27px;
      margin: 0 auto;
      padding: 5px 0 5px 10px;
      background-color: #ff6060;
      font-weight: 500;
      font-size: 13px;
      border-radius: 5px 5px 5px 5px;
      cursor: pointer;
      align-items: center;
      justify-content: space-between;
}

@media screen and (min-width: 767px) {
      .collapse_title {
            width: 100%;
      }
}

@media screen and (min-width: 767px) {
      .accomodation_collapse_item {
            width: 50%;
      }
}

.arrow_up {
      transform: rotate(0deg);
      margin-right: 10px;
      width: 10px;
}
.arrow_down {
      transform: rotate(180deg);
      margin-right: 10px;
      width: 10px;
}

.collapse_content {
      letter-spacing: 1px;
      visibility: visible;
      opacity: 1;
      width: 100%;
      height: auto;
      padding: 5px;
      margin: 0 auto;
      color: #ff6060;
      border-radius: 5px 5px 5px 5px;
      background-color: #f6f6f6;
}

@media screen and (min-width: 767px) {
      .collapse_content {
            width:100%;
      }
}

.collapse_content_hidden {
      visibility: hidden;
      opacity: 0;
      height: 0;
}

.collapse_content p {
      margin: 5px 0;
      font-size: 12px;
      font-weight: 500;

}

@media screen and (min-width: 767px) {
      .collapse_content p {
            font-size: 18px;
      }
}

.accomodation_collapse {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      margin: 20px auto 60px auto;
      width: 99%;
}

@media screen and (max-width: 767px) {
      .accomodation_collapse {
            flex-direction: column;
            gap: 20px;
            margin: 20px auto;
      }
}